*.DS_Store
/CodeForces/Competitions/Codeforces432Div2/nbproject/private/
/CodeForces/Competitions/Codeforces432Div2/build/
/CodeForces/Competitions/Assignment2/nbproject/private/
/CodeForces/Competitions/Assignment2/build/