*.DS_Store
/CodeForces/Competitions/Codeforces432Div2/nbproject/private/
/CodeForces/Competitions/Codeforces432Div2/build/
/CodeForces/Competitions/Assignment2/nbproject/private/
/CodeForces/Competitions/Assignment2/build/
/CodeForces/Competitions/CodeForcesCompetitionDiv2Thing/nbproject/private/
/CodeForces/Competitions/CodeForcesCompetitionDiv2Thing/build/
/Hackerrank/Competitions/current/nbproject/private/
/Hackerrank/Competitions/current/build/
/Kattis/UTICPCPractice4/nbproject/private/
/Kattis/UTICPCPractice4/build/
/CodeCon2017/nbproject/private/
/CodeCon2017/build/
/Hackerrank/Competitions/IndeedCompetition/nbproject/private/
/Hackerrank/Competitions/IndeedCompetition/build/